
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/storage.ide
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/.suo
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/db.lock
Module E - Field and Property/MovieConsoleApp/.vs/MovieConsoleApp/v15/.suo
Module E - Field and Property/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/db.lock
Module E - Field and Property/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/storage.ide
Module F - Object/MovieConsoleApp/.vs/MovieConsoleApp/v15/.suo
Module F - Object/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/db.lock
Module F - Object/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/storage.ide
