
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/storage.ide
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/.suo
Module D - Class/MovieConsoleApp/.vs/MovieConsoleApp/v15/Server/sqlite3/db.lock
